@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/josefinsans-regular-webfont.eot');
    src: url('../fonts/josefinsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/josefinsans-regular-webfont.woff') format('woff'),
         url('../fonts/josefinsans-regular-webfont.ttf') format('truetype'),
         url('../fonts/josefinsans-regular-webfont.svg#josefin_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

.nav-header-sitename {
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .3em;
    line-height: 1.2rem;
    font-family: 'Josefin Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3em;
}

