<div class="col-sm-3 offset-sm-1">
  <img class="home-logo" src="/pycon-logo.svg" alt="Pycon Thailand Logo">
</div>

<div class="col-sm-6 offset-sm-1">
  <div class="container admonition admonition-pycon-thailand-2018 text-center"
                    style="background-color: rgba(255,255,255,0.55);">

    <h1 class="admonition-title">
      <a href="/">${ event_heading }</a>
    </h1>

    <ul class="list-inline banner-social-buttons last">
      <li class="list-inline-item">
        <a href="https://twitter.com/pyconthailand" class="btn btn-secondary btn-lg" target="_blank">
          <i class="fa fa-twitter fa-fw"/>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.facebook.com/pyconthailand/" class="btn btn-secondary btn-lg" target="_blank">
          <i class="fa fa-facebook fa-fw"/>
        </a>
      </li>
    </ul>
  </div>
</div>