## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*" />
<%namespace name="notes" file="annotation_helper.tmpl" import="*" />
${set_locale(lang)}
${base.html_headstart()}
<%block name="extra_head">
### Leave this block alone.
</%block>
${template_hooks['extra_head']()}
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-139856274-1', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139856274-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-139856274-1');
</script>

<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800|Open+Sans:400,700,700i" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

</head>
<body class="${' '.join(pagekind)} path-${'-'.join([p for p in permalink.replace('/'+lang+'/', '', 1).split('/') if p] or ['frontpage'])}">
<a href="#content" class="sr-only sr-only-focusable">${messages("Skip to main content")}</a>

<!-- Menubar -->

<nav class="navbar navbar-expand-md static-top">
    <div class="container">
        <a class="navbar-brand text-black" href="${abs_link(_link("root", None, lang))}">
            <span id="blog-title">HOME</span>
        </a>

        <button class="navbar-toggler border-black" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon border-black"></span>
        </button>


        <div class="collapse navbar-collapse" id="bs-navbar">
            <ul class="navbar-nav mr-auto">
                ${base.html_navigation_links_entries(navigation_links)}
                ${template_hooks['menu']()}
            </ul>

            <ul class="navbar-nav navbar-right">
                ${base.html_navigation_links_entries(navigation_alt_links)}
                <%block name="belowtitle">
                %if len(translations) > 1:
                    <li>${base.html_translations()}</li>
                %endif
                </%block>
                % if show_sourcelink:
                    <%block name="sourcelink"></%block>
                %endif
                ${template_hooks['menu_alt']()}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>

<!-- End of Menubar -->

<div id="content" role="main">
    <div class="body-content">
        <!--Body content-->
        ${template_hooks['page_header']()}
        <!--front page content-->
        <%block name="front_page"></%block>
        <!--all others content-->
        <%block name="content"></%block>
        <!--End of body content-->

        <footer id="footer">
            ${content_footer}
            ${template_hooks['page_footer']()}
        </footer>
    </div>
</div>

${base.late_load_js()}
    %if date_fanciness != 0:
        <!-- fancy dates -->
        <script>
        moment.locale("${momentjs_locales[lang]}");
        fancydates(${date_fanciness}, ${js_date_format});
        </script>
        <!-- end fancy dates -->
    %endif
    <%block name="extra_js"></%block>
    <script>
    baguetteBox.run('div#content', {
        ignoreClass: 'islink',
        captions: function(element) {
            return element.getElementsByTagName('img')[0].alt;
    }});
    </script>
${body_end}
${template_hooks['body_end']()}
</body>
</html>
